---
- name: Copy motd.base64 for oob server
  copy:
    src: motd.base64
    dest: /etc/motd.base64
  tags:
    - motd
  notify: reload motd

- name: Delete motd.base64
  file:
    path: /etc/motd.base64
    state: absent
  tags:
    - motd

- name: Set mode for motd
  file:
    path: /etc/motd
    mode: 755
    state: present
  tags:
    - motd
